@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');


.grid_container{
    width: 100vw;
    height: 100vh;

    font-family: "Abhaya Libre", serif;
    font-size: 20px;
    color: #fff;

    display: grid;
    grid-template-columns: 20%, 60% 20% ;
    grid-template-rows: 20% 60% 20%;
   grid-template-areas: 
   "header header header"
    "main main main"
   "footer footer footer";
}

/* navbar */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #b22222;
}

li, a, button{
    font-family: "Abhaya Libre", serif;
    font-weight:  500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header{
    grid-area:header ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;

}

.nav_links li{
    display: inline-block;
    padding:  0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: #8e1b1b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
    
}

button:hover {
    background-color: #591111;
}
/* <!--artikler og footer (grid)--> */

body{
    margin: 0;
}

/*
.container{
    width: 100vw;
    height: 100vh;

    font-family: "Abhaya Libre", serif;
    font-size: 20px;
    color: #fff;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 10px;
    border: 1px solid #000000;
}

.article1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}
*/

footer{
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    padding: 2.5rem 2rem;
    border: 1px solid #000000;
}

footer ul{
    list-style: none;
    

}
    

    
